<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Suricata</string>
	<key>BBLMLanguageCode</key>
	<string>SURI</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.rules</string>
		</dict>
	</array>
	<key>BBLMPreferredFilenameExtension</key>
	<string>rules</string>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMReferenceSearchURLTemplate</key>
	<string>https://suricata.readthedocs.io/en/latest/search.html?q=__SYMBOLNAME__&amp;check_keywords=yes&amp;area=default</string>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMCommentLineDefault</key>
	<string>#</string>
	<key>BBLMKeywordList</key>
	<array>
		<string>tcp</string>
		<string>udp</string>
		<string>icmp</string>
		<string>ip</string>
		<string>http</string>
		<string>ftp</string>
		<string>tls</string>
		<string>smb</string>
		<string>dns</string>
		<string>dcerpc</string>
		<string>ssh</string>
		<string>smtp</string>
		<string>imap</string>
		<string>modbus</string>
		<string>dnp3</string>
		<string>enip</string>
		<string>nfs</string>
		<string>ike</string>
		<string>krb5</string>
		<string>ntp</string>
		<string>dhcp</string>
		<string>rfb</string>
		<string>rdp</string>
		<string>snmp</string>
		<string>tftp</string>
		<string>sip</string>
		<string>http2</string>
		<string>msg</string>
		<string>sid</string>
		<string>rev</string>
		<string>gid</string>
		<string>classtype</string>
		<string>reference</string>
		<string>priority</string>
		<string>metadata</string>
		<string>target</string>
		<string>ttl</string>
		<string>ipopts</string>
		<string>ip_proto</string>
		<string>ipv4.hdr</string>
		<string>ipv6.hdr</string>
		<string>id</string>
		<string>geoip</string>
		<string>fragbits</string>
		<string>fragoffset</string>
		<string>tos</string>
		<string>seq</string>
		<string>ack</string>
		<string>window</string>
		<string>tcp.mss</string>
		<string>tcp.hdr</string>
		<string>udp.hdr</string>
		<string>itype</string>
		<string>icode</string>
		<string>icmp_id</string>
		<string>icmp_seq</string>
		<string>icmpv4.hdr</string>
		<string>icmpv6.hdr</string>
		<string>icmpv6.mtu</string>
		<string>content</string>
		<string>depth</string>
		<string>offset</string>
		<string>distance</string>
		<string>within</string>
		<string>isdataat</string>
		<string>bsize</string>
		<string>dsize</string>
		<string>byte_test</string>
		<string>byte_math</string>
		<string>byte_jump</string>
		<string>byte_extract</string>
		<string>rpc</string>
		<string>replace</string>
		<string>pcre</string>
		<string>pcrexform</string>
		<string>xor</string>
		<string>fast_pattern</string>
		<string>flowbits</string>
		<string>flow</string>
		<string>filename</string>
		<string>fileext</string>
		<string>filemagic</string>
		<string>filemd5</string>
		<string>filesha1</string>
		<string>filesha256</string>
		<string>filesize</string>
		<string>dns.opcode</string>
		<string>dns_opcode</string>
		<string>dns.query</string>
		<string>dns_query</string>
		<string>tls_cert_notbefore</string>
		<string>tls_cert_notafter</string>
		<string>tls.version</string>
		<string>ssl_version</string>
		<string>tls.subject</string>
		<string>tls.issuerdn</string>
		<string>tls.fingerprint</string>
		<string>ssl_state</string>
		<string>ssh.protoversion</string>
		<string>ssh.softwareversion</string>
		<string>modbus</string>
		<string>dcerpc.iface</string>
		<string>dcerpc.opnum</string>
		<string>dnp3_func</string>
		<string>dnp3_ind</string>
		<string>dnp3_obj</string>
		<string>enip_command</string>
		<string>cip_service</string>
		<string>ftpdata_command</string>
		<string>krb5_msg_type</string>
		<string>krb5_msg_type</string>
		<string>krb5_err_code</string>
		<string>app-layer-protocol</string>
		<string>app-layer-event</string>
		<string>snmp.version</string>
		<string>snmp.pdu_type</string>
		<string>base64_decode</string>
		<string>rfb.secresult</string>
		<string>rfb.sectype</string>
		<string>mqtt.protocol_version</string>
		<string>mqtt.mqtt.type</string>
		<string>mqtt.flags</string>
		<string>mqtt.qos</string>
		<string>mqtt.reason_code</string>
		<string>mqtt.connack.session_present</string>
		<string>mqtt.connect.flags</string>
		<string>ike.chosen_sa_attribute</string>
		<string>ike.exchtype</string>
		<string>ike.vendor</string>
		<string>ike.key_exchange_payload_length</string>
		<string>ike.nonce_payload_length</string>
		<string>http2.frametype</string>
		<string>http2.errorcode</string>
		<string>http2.priority</string>
		<string>http2.window</string>
		<string>http2.size_update</string>
		<string>http2.settings</string>
		<string>xbits</string>
		<string>threshold</string>
		<string>detection_filter</string>
		<string>iprep</string>
		<string>config</string>
		<string>dataset</string>
		<string>datarep</string>
		<string>lua</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>alert</string>
		<string>pass</string>
		<string>drop</string>
		<string>reject</string>
		<string>rejectsrc</string>
		<string>rejectdst</string>
		<string>rejectboth</string>
		<string>config</string>
		<string>any</string>
		<string>sameip</string>
		<string>nocase</string>
		<string>startswith</string>
		<string>endswith</string>
		<string>rawbytes</string>
		<string>dotprefix</string>
		<string>strip_whitespace</string>
		<string>compress_whitespace</string>
		<string>to_md5</string>
		<string>to_sha1</string>
		<string>to_sha256</string>
		<string>url_decode</string>
		<string>fast_pattern</string>
		<string>prefilter</string>
		<string>to_client</string>
		<string>to_server</string>
		<string>from_client</string>
		<string>from_server</string>
		<string>established</string>
		<string>not_established</string>
		<string>stateless</string>
		<string>only_stream</string>
		<string>no_stream</string>
		<string>only_frag</string>
		<string>no_frag</string>
		<string>bypass</string>
		<string>http.uri</string>
		<string>http_uri</string>
		<string>http.uri.raw</string>
		<string>http_raw_uri</string>
		<string>http.method</string>
		<string>http_method</string>
		<string>http.request_line</string>
		<string>http_request_line</string>
		<string>http.request_body</string>
		<string>http_client_body</string>
		<string>http.header</string>
		<string>http_header</string>
		<string>http.header.raw</string>
		<string>http_raw_header</string>
		<string>http.cookie</string>
		<string>http_cookie</string>
		<string>http.user_agent</string>
		<string>http_user_agent</string>
		<string>http.host</string>
		<string>http_host</string>
		<string>http.host.raw</string>
		<string>http_raw_host</string>
		<string>http.accept</string>
		<string>http_accept</string>
		<string>http.accept_lang</string>
		<string>http_accept_lang</string>
		<string>http.accept_enc</string>
		<string>http_accept_enc</string>
		<string>http.referer</string>
		<string>http_referer</string>
		<string>http.connection</string>
		<string>http_connection</string>
		<string>http.content_type</string>
		<string>http_content_type</string>
		<string>http.content_len</string>
		<string>http_content_len</string>
		<string>http.start</string>
		<string>http_start</string>
		<string>http.protocol</string>
		<string>http_protocol</string>
		<string>http.header_names</string>
		<string>http_header_names</string>
		<string>tls.cert_subject</string>
		<string>tls.cert_issuer</string>
		<string>tls.cert_serial</string>
		<string>tls.sni</string>
		<string>tls_cert_expired</string>
		<string>tls_cert_valid</string>
		<string>tls.certs</string>
		<string>tls.store</string>
		<string>client_hello</string>
		<string>server_hello</string>
		<string>client_keyx</string>
		<string>server_keyx</string>
		<string>unknown</string>
		<string>ssh.proto</string>
		<string>ssh.software</string>
		<string>2_compat</string>
		<string>ssh.hassh</string>
		<string>ssh.hassh.string</string>
		<string>ssh.hassh.server.string</string>
		<string>ja3.hash</string>
		<string>ja3.string</string>
		<string>ja3s.hash</string>
		<string>ja3s.string</string>
		<string>function</string>
		<string>subfunction</string>
		<string>assigned</string>
		<string>unassigned</string>
		<string>public</string>
		<string>user</string>
		<string>reserved</string>
		<string>all</string>
		<string>access</string>
		<string>read</string>
		<string>write</string>
		<string>discretes</string>
		<string>coils</string>
		<string>input</string>
		<string>holding</string>
		<string>address</string>
		<string>value</string>
		<string>unit</string>
		<string>dcerpc.stub_data</string>
		<string>confirm</string>
		<string>select</string>
		<string>operate</string>
		<string>direct_operate</string>
		<string>direct_operate_nr</string>
		<string>immed_freeze</string>
		<string>immed_freeze_nr</string>
		<string>freeze_clear</string>
		<string>freeze_clear_nr</string>
		<string>freeze_at_time</string>
		<string>freeze_at_time_nr</string>
		<string>cold_restart</string>
		<string>warm_restart</string>
		<string>initialize_data</string>
		<string>initialize_appl</string>
		<string>start_appl</string>
		<string>stop_appl</string>
		<string>save_config</string>
		<string>enable_unsolicited</string>
		<string>disable_unsolicited</string>
		<string>assign_class</string>
		<string>delay_measure</string>
		<string>record_current_time</string>
		<string>open_file</string>
		<string>close_file</string>
		<string>delete_file</string>
		<string>get_file_info</string>
		<string>authenticate_file</string>
		<string>abort_file</string>
		<string>activate_config</string>
		<string>authenticate_req</string>
		<string>authenticate_err</string>
		<string>response</string>
		<string>unsolicited_response</string>
		<string>authenticate_resp</string>
		<string>all_stations</string>
		<string>class_1_events</string>
		<string>class_2_events</string>
		<string>class_3_events</string>
		<string>need_time</string>
		<string>local_control</string>
		<string>device_trouble</string>
		<string>device_restart</string>
		<string>no_func_code_support</string>
		<string>object_unknown</string>
		<string>parameter_error</string>
		<string>event_buffer_overflow</string>
		<string>already_executing</string>
		<string>config_corrupt</string>
		<string>reserved_2</string>
		<string>reserved_1</string>
		<string>dnp3_data</string>
		<string>retr</string>
		<string>stor</string>
		<string>ftpbounce</string>
		<string>krb5_cname</string>
		<string>krb5_sname</string>
		<string>krb5.weak_encryption</string>
		<string>krb5.malformed_data</string>
		<string>snmp.community</string>
		<string>bytes</string>
		<string>offset</string>
		<string>relative</string>
		<string>base64_data</string>
		<string>sip.method</string>
		<string>sip.uri</string>
		<string>sip.request_line</string>
		<string>sip.stat_code</string>
		<string>sip.stat_msg</string>
		<string>sip.response_line</string>
		<string>sip.protocol</string>
		<string>rfb.name</string>
		<string>rfb.name</string>
		<string>ok</string>
		<string>fail</string>
		<string>toomany</string>
		<string>CONNECT</string>
		<string>CONNACK</string>
		<string>PUBLISH</string>
		<string>PUBACK</string>
		<string>PUBREC</string>
		<string>PUBREL</string>
		<string>PUBCOMP</string>
		<string>SUBSCRIBE</string>
		<string>SUBACK</string>
		<string>UNSUBSCRIBE</string>
		<string>UNSUBACK</string>
		<string>PINGREQ</string>
		<string>PINGRESP</string>
		<string>DISCONNECT</string>
		<string>AUTH</string>
		<string>UNASSIGNED</string>
		<string>dup</string>
		<string>retain</string>
		<string>yes</string>
		<string>true</string>
		<string>no</string>
		<string>false</string>
		<string>mqtt.connect.clientid</string>
		<string>username</string>
		<string>password</string>
		<string>will</string>
		<string>will_retain</string>
		<string>clean_session</string>
		<string>mqtt.connect.password</string>
		<string>mqtt.connect.username</string>
		<string>mqtt.connect.willmessage</string>
		<string>mqtt.connect.willtopic</string>
		<string>mqtt.publish.message</string>
		<string>mqtt.publish.topic</string>
		<string>mqtt.subscribe.topic</string>
		<string>mqtt.unsubscribe.topic</string>
		<string>ike.init_spi</string>
		<string>ike.resp_spi</string>
		<string>alg_enc</string>
		<string>alg_hash</string>
		<string>alg_auth</string>
		<string>alg_dh</string>
		<string>alg_prf</string>
		<string>sa_group_type</string>
		<string>sa_life_type</string>
		<string>sa_life_duration</string>
		<string>sa_key_length</string>
		<string>sa_field_size</string>
		<string>ike.key_exchange_payload</string>
		<string>ike.nonce_payload</string>
		<string>GOAWAY</string>
		<string>DATA</string>
		<string>PING</string>
		<string>SETTINGS</string>
		<string>PRIORITY</string>
		<string>HEADERS</string>
		<string>PUSH_PROMISE</string>
		<string>CONTINUATION</string>
		<string>WINDOW_UPDATE</string>
		<string>END_STREAM</string>
		<string>RST_STREAM</string>
		<string>NO_ERROR</string>
		<string>INADEQUATE_SECURITY</string>
		<string>SETTINGS_ENABLE_PUSH</string>
		<string>SETTINGS_HEADER_TABLE_SIZE</string>
		<string>http2.header_name</string>
		<string>http2.header</string>
		<string>quic.cyu.hash</string>
		<string>quic.cyu.string</string>
		<string>quic.version</string>
		<string>failed</string>
		<string>applayer_mismatch_protocol_both_directions</string>
		<string>applayer_wrong_direction_first_data</string>
		<string>applayer_detect_protocol_only_one_direction</string>
		<string>applayer_proto_detection_skipped</string>
		<string>set</string>
		<string>unset</string>
		<string>isset</string>
		<string>isnotset</string>
		<string>toggle</string>
		<string>track</string>
		<string>ip_src</string>
		<string>ip_dst</string>
		<string>ip_pair</string>
		<string>expire</string>
		<string>noalert</string>
		<string>type</string>
		<string>threshold</string>
		<string>limit</string>
		<string>both</string>
		<string>by_src</string>
		<string>by_dst</string>
		<string>by_rule</string>
		<string>by_both</string>
		<string>count</string>
		<string>seconds</string>
		<string>src</string>
		<string>dst</string>
		<string>logging</string>
		<string>tx</string>
		<string>disable</string>
		<string>scope</string>
		<string>string</string>
		<string>md5</string>
		<string>sha256</string>
		<string>save</string>
		<string>state</string>
		<string>memcap</string>
		<string>hashsize</string>
		<string>load</string>
		<string>$HOME_NET</string>
		<string>$EXTERNAL_NET</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_\.\$</string>
		<key>Open Line Comments</key>
		<string>#</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>Open Statement Blocks</key>
		<string>(</string>
		<key>Close Statement Blocks</key>
		<string>)</string>
		<key>Function Pattern</key>
		<string><![CDATA[
		(?x:
			^\s*(?# leadspaces)
			(?P<function>
				(?:alert|pass|drop|reject|rejectsrc|rejectdst|rejectboth)(?# action)
				.+(?# rule content part)
				msg\:\s?"(?P<function_name>[^"]+?)"\s?(?# msg is function name)
				.+(?# rule content part)
				;\s?\)(?# rule content closure)
			)
			\s*$(?# trailspaces)
		)
		]]>
		</string>
	</dict>
</dict>
</plist>
